<div class="top-navbar">

  <div class="container-logo noDisplayDesktop">
    <img src="assets/images/svg_icons/luca_logo_color.svg" alt="Logo Luca">
  </div>
  <div class="explore noDisplayMobile equalsize">
    <img src="assets/images/svg_icons/dropdown_explore.svg" class="nav-icon" alt="Inicio">
    <img src="assets/images/svg_icons/ic_search_32.svg"  alt="Inicio">
  </div>
  <div class="archivements noDisplayMobile equalsize">
    <div class="gray-text-center">
      <img src="assets/images/svg_icons/local_fire_department.svg" class="nav-icon" alt="Inicio">
      <span class="nav-text">0</span>
    </div>
    <div class="gray-text-center">
      <img src="assets/images/svg_icons/local_police.svg" class="nav-icon" alt="Inicio">
      <span class="nav-text">0</span>
    </div>
    <div class="gray-text-center">
      <img src="assets/images/svg_icons/local_florist.svg" class="nav-icon" alt="Inicio">
      <span class="nav-text">0</span>
    </div>
  </div>
  <div class="user equalsize">
    <img src="assets/images/svg_icons/ic_notification_32.svg" class="nav-icon " alt="Inicio">
    <img src="assets/images/svg_icons/ic_person_blue.svg" class="nav-icon profile" alt="Inicio">
  </div>
</div>

