<div class="container-question">
    <div class="quser-container">
        <img src="assets/images/svg_icons/ic_person_blue.svg" class="nav-icon profile" alt="Persona">
        <!--MOVIL INICIO-->
        <div class="value-question noDisplayDesktop">
            <img src="{{getImageUrl('thumbs-up',this.questionInt.liked)}}" class="nav-icon profile" alt="Me gusta" (click)="updateStateQuestion('like')">
            <img src="{{getImageUrl('thumbs-down',this.questionInt.disliked)}}" class="nav-icon profile" alt="No me gusta" (click)="updateStateQuestion('dislike')">
        </div>
        <!--MOVIL FIN-->
    </div>
    <div class="qdescription-container">
        <div class="container-remove-overflow">
            <div class="question-label">
                <span>{{this.questionInt.question.title}}</span>
            </div>
            <div class="latest-answer">
                <span>{{getLatestAnswer()}}</span>
            </div>
        </div>
        <div class="footer-qdescrip">
            <div class="value-question noDisplayMobile">
                <img src="{{getImageUrl('thumbs-up',this.questionInt.liked)}}" class="nav-icon profile" alt="Me gusta" (click)="updateStateQuestion('like')">
                <img src="{{getImageUrl('thumbs-down',this.questionInt.disliked)}}" class="nav-icon profile" alt="No me gusta" (click)="updateStateQuestion('dislike')">
            </div>
            <div class="question-author">
                <span>Pregunta {{this.questionInt.question.author.name}} en <span class="subject">{{this.questionInt.question.subject.name}}</span></span>
            </div>
            <!--MOVIL INICIO-->
            <div class="qrelevance-increse noDisplayDesktop">
                <div class="question-messages">
                    <img src="assets/images/svg_icons/message-circle.svg" class="nav-icon " alt="Respuestas">
                    <span class="gray-text-center">{{this.questionInt.question.answers.length}}</span>
                </div>
                <img src="{{getImageUrl('star',this.questionInt.following)}}" class="nav-icon " alt="Favorito" (click)="updateStateQuestion('follow')">
            </div>
            <!--MOVIL FIN-->
        </div>
    </div>
    <div class="qactions-container noDisplayMobile">
        <div class="question-messages">
            <img src="assets/images/svg_icons/message-circle.svg" class="nav-icon " alt="Respuestas">
            <span class="gray-text-center">{{this.questionInt.question.answers.length}}</span>
        </div>
        <div class="qrelevance-increse">
            <img src="assets/images/svg_icons/share-2.svg" class="nav-icon img-share" alt="Compartir">
            <img src="{{getImageUrl('star',this.questionInt.following)}}" class="nav-icon " alt="Favorito" (click)="updateStateQuestion('follow')">
        </div>
    </div>
</div>
