<div class="container-question">
    <div class="quser-container">
        <img src="assets/images/svg_icons/ic_person_blue.svg" class="nav-icon profile" alt="Inicio">
        <!--MOVIL INICIO-->
        <div class="value-question noDisplayDesktop">
            <img src="assets/images/svg_icons/thumbs-up.svg" class="nav-icon profile" alt="Inicio">
            <img src="assets/images/svg_icons/thumbs-down.svg" class="nav-icon profile" alt="Inicio">
        </div>
        <!--MOVIL FIN-->
    </div>
    <div class="qdescription-container">
        <div class="container-remove-overflow">
            <div class="question-label">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut id et tempore molestiae voluptatibus
                    dolor voluptates numquam iusto, eligendi fuga dolorem reprehenderit, odio velit nostrum sint ad illo
                    tempora repudiandae?</span>
            </div>
            <div class="latest-answer">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sit repellat aspernatur
                    repudiandae odit consequuntur, dolorum explicabo itaque dolore deleniti provident soluta
                    exercitationem ipsum a illum nesciunt reiciendis iste cum.</span>
            </div>
        </div>
        <div class="footer-qdescrip">
            <div class="value-question noDisplayMobile">
                <img src="assets/images/svg_icons/thumbs-up.svg" class="nav-icon profile" alt="Inicio">
                <img src="assets/images/svg_icons/thumbs-down.svg" class="nav-icon profile" alt="Inicio">
            </div>
            <div class="question-author">
                <span>Pregunta juliaraujo en <span class="subject">Matematica 6°</span></span>
            </div>
            <!--MOVIL INICIO-->
            <div class="qrelevance-increse noDisplayDesktop">
                <div class="question-messages">
                    <img src="assets/images/svg_icons/message-circle.svg" class="nav-icon " alt="Mensajes">
                    <span class="gray-text-center">72</span>
                </div>
                <img src="assets/images/svg_icons/star.svg" class="nav-icon " alt="Favorito">
            </div>
            <!--MOVIL FIN-->
        </div>
    </div>
    <div class="qactions-container noDisplayMobile">
        <div class="question-messages">
            <img src="assets/images/svg_icons/message-circle.svg" class="nav-icon " alt="Mensajes">
            <span class="gray-text-center">72</span>
        </div>
        <div class="qrelevance-increse">
            <img src="assets/images/svg_icons/share-2.svg" class="nav-icon img-share" alt="Compartir">
            <img src="assets/images/svg_icons/star.svg" class="nav-icon " alt="Favorito">
        </div>
    </div>
</div>