<nav class="nav">
  <div class="container-logo noDisplayMobile">
    <img src="assets/images/svg_icons/luca_logo_color.svg" alt="Logo Luca">
  </div>
  <a class="nav-link">
    <img src="assets/images/svg_icons/ic_home_32.svg" class="nav-icon" alt="Inicio">
    <span class="nav-text noDisplayMobile">Inicio</span>
  </a>
  <a class="nav-link">
    <img src="assets/images/svg_icons/ic_video_32.svg" class="nav-icon" alt="Mis cursos">
    <span class="nav-text noDisplayMobile">Mis cursos</span>
  </a>
  <a class="nav-link">
    <img src="assets/images/svg_icons/ic_quizz_32.svg" class="nav-icon" alt="Quizzes">
    <span class="nav-text noDisplayMobile">Quizzes</span>
  </a>
  <a class="nav-link">
    <img src="assets/images/svg_icons/ic_studyplan_32.svg" class="nav-icon" alt="Mi plan de estudios">
    <span class="nav-text noDisplayMobile">Mi plan de estudios</span>
  </a>
  <a routerLink='community' routerLinkActive="active"  class="nav-link">
    <img src="assets/images/svg_icons/ic_community_32.svg" class="nav-icon" alt="Comunidad">
    <span class="nav-text noDisplayMobile">Comunidad</span>
  </a>
  <a class="nav-link noDisplayMobile">
    <img src="assets/images/svg_icons/ic_help_32.svg" class="nav-icon" alt="Centro de ayuda">
    <span class="nav-text">Centro de ayuda</span>
  </a>
</nav>
